In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
loan_data = pd.read_csv("loan.csv")

In [33]:
loan_data.shape

(39717, 111)

In [34]:
total_rows = loan_data.shape[0]
total_rows

39717

In [35]:
null_percentage_columns = {}
#Finding out the percentage of null values in each columns
for column in loan_data.columns:
    null_values = loan_data[column].isnull()
    number_of_null_values = null_values.sum()
    percentage_of_null_values = (number_of_null_values/ total_rows) * 100
    null_percentage_columns[column] = percentage_of_null_values
null_percentage_columns

{'id': 0.0,
 'member_id': 0.0,
 'loan_amnt': 0.0,
 'funded_amnt': 0.0,
 'funded_amnt_inv': 0.0,
 'term': 0.0,
 'int_rate': 0.0,
 'installment': 0.0,
 'grade': 0.0,
 'sub_grade': 0.0,
 'emp_title': 6.191303472064859,
 'emp_length': 2.7066495455346575,
 'home_ownership': 0.0,
 'annual_inc': 0.0,
 'verification_status': 0.0,
 'issue_d': 0.0,
 'loan_status': 0.0,
 'pymnt_plan': 0.0,
 'url': 0.0,
 'desc': 32.58050708764509,
 'purpose': 0.0,
 'title': 0.027695948838029054,
 'zip_code': 0.0,
 'addr_state': 0.0,
 'dti': 0.0,
 'delinq_2yrs': 0.0,
 'earliest_cr_line': 0.0,
 'inq_last_6mths': 0.0,
 'mths_since_last_delinq': 64.66248709620565,
 'mths_since_last_record': 92.98537150338646,
 'open_acc': 0.0,
 'pub_rec': 0.0,
 'revol_bal': 0.0,
 'revol_util': 0.12589067653649572,
 'total_acc': 0.0,
 'initial_list_status': 0.0,
 'out_prncp': 0.0,
 'out_prncp_inv': 0.0,
 'total_pymnt': 0.0,
 'total_pymnt_inv': 0.0,
 'total_rec_prncp': 0.0,
 'total_rec_int': 0.0,
 'total_rec_late_fee': 0.0,
 'recoveries': 0.0,
 'collection_recovery_fee': 0.0,
 'last_pymnt_d': 0.1787647606818239,
 'last_pymnt_amnt': 0.0,
 'next_pymnt_d': 97.12969257496789,
 'last_credit_pull_d': 0.0050356270614598285,
 'collections_12_mths_ex_med': 0.1409975577208752,
 'mths_since_last_major_derog': 100.0,
 'policy_code': 0.0,
 'application_type': 0.0,
 'annual_inc_joint': 100.0,
 'dti_joint': 100.0,
 'verification_status_joint': 100.0,
 'acc_now_delinq': 0.0,
 'tot_coll_amt': 100.0,
 'tot_cur_bal': 100.0,
 'open_acc_6m': 100.0,
 'open_il_6m': 100.0,
 'open_il_12m': 100.0,
 'open_il_24m': 100.0,
 'mths_since_rcnt_il': 100.0,
 'total_bal_il': 100.0,
 'il_util': 100.0,
 'open_rv_12m': 100.0,
 'open_rv_24m': 100.0,
 'max_bal_bc': 100.0,
 'all_util': 100.0,
 'total_rev_hi_lim': 100.0,
 'inq_fi': 100.0,
 'total_cu_tl': 100.0,
 'inq_last_12m': 100.0,
 'acc_open_past_24mths': 100.0,
 'avg_cur_bal': 100.0,
 'bc_open_to_buy': 100.0,
 'bc_util': 100.0,
 'chargeoff_within_12_mths': 0.1409975577208752,
 'delinq_amnt': 0.0,
 'mo_sin_old_il_acct': 100.0,
 'mo_sin_old_rev_tl_op': 100.0,
 'mo_sin_rcnt_rev_tl_op': 100.0,
 'mo_sin_rcnt_tl': 100.0,
 'mort_acc': 100.0,
 'mths_since_recent_bc': 100.0,
 'mths_since_recent_bc_dlq': 100.0,
 'mths_since_recent_inq': 100.0,
 'mths_since_recent_revol_delinq': 100.0,
 'num_accts_ever_120_pd': 100.0,
 'num_actv_bc_tl': 100.0,
 'num_actv_rev_tl': 100.0,
 'num_bc_sats': 100.0,
 'num_bc_tl': 100.0,
 'num_il_tl': 100.0,
 'num_op_rev_tl': 100.0,
 'num_rev_accts': 100.0,
 'num_rev_tl_bal_gt_0': 100.0,
 'num_sats': 100.0,
 'num_tl_120dpd_2m': 100.0,
 'num_tl_30dpd': 100.0,
 'num_tl_90g_dpd_24m': 100.0,
 'num_tl_op_past_12m': 100.0,
 'pct_tl_nvr_dlq': 100.0,
 'percent_bc_gt_75': 100.0,
 'pub_rec_bankruptcies': 1.7549160309187504,
 'tax_liens': 0.09819472769846666,
 'tot_hi_cred_lim': 100.0,
 'total_bal_ex_mort': 100.0,
 'total_bc_limit': 100.0,
 'total_il_high_credit_limit': 100.0}

In [37]:
#percentage of null more than 10 percentage will be removed
threshold_value = 10
loan_data.info

<bound method DataFrame.info of             id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ...  \
0       36 months   10.65%       162.87     B        B2  ...
1       60 months   15.27%        59.83     C        C4  ...
2       36 months   15.96%        84.33     C        C5  ...
3       36 months   13.49%       339.31     C        C1  ...
4       60 months   12.69%        67.79     B        B5  ...
...           ...      ...          ...   ...       ...  ...
39712   36 months    8.07%        78.42     A        A4  ...
39713   36 months   10.28%       275.38     C        C1  ...
39714   36 months    8.07%       156.84     A        A4  ...
39715   36 months    7.43%       155.38     A        A2  ...
39716   36 months   13.75%       255.43     E        E2  ...

      num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75  \
0                    NaN                NaN            NaN               NaN
1                    NaN                NaN            NaN               NaN
2                    NaN                NaN            NaN               NaN
3                    NaN                NaN            NaN               NaN
4                    NaN                NaN            NaN               NaN
...                  ...                ...            ...               ...
39712                NaN                NaN            NaN               NaN
39713                NaN                NaN            NaN               NaN
39714                NaN                NaN            NaN               NaN
39715                NaN                NaN            NaN               NaN
39716                NaN                NaN            NaN               NaN

      pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort  \
0                      0.0       0.0             NaN               NaN
1                      0.0       0.0             NaN               NaN
2                      0.0       0.0             NaN               NaN
3                      0.0       0.0             NaN               NaN
4                      0.0       0.0             NaN               NaN
...                    ...       ...             ...               ...
39712                  NaN       NaN             NaN               NaN
39713                  NaN       NaN             NaN               NaN
39714                  NaN       NaN             NaN               NaN
39715                  NaN       NaN             NaN               NaN
39716                  NaN       NaN             NaN               NaN

      total_bc_limit total_il_high_credit_limit
0                NaN                        NaN
1                NaN                        NaN
2                NaN                        NaN
3                NaN                        NaN
4                NaN                        NaN
...              ...                        ...
39712            NaN                        NaN
39713            NaN                        NaN
39714            NaN                        NaN
39715            NaN                        NaN
39716            NaN                        NaN

[39717 rows x 111 columns]>

In [38]:
null_columns_to_be_removed = []
for key,values in null_percentage_columns.items():
    if values > 10:
        null_columns_to_be_removed.append(key)
null_columns_to_be_removed

['desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'next_pymnt_d',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [39]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
type(null_columns_to_be_removed)

list

In [47]:
null_column_series = pd.Series(null_columns_to_be_removed)
null_column_series.index

RangeIndex(start=0, stop=58, step=1)

In [23]:
loan_data.info

<bound method DataFrame.info of             id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ... last_pymnt_amnt  \
0       36 months   10.65%       162.87     B        B2  ...          171.62
1       60 months   15.27%        59.83     C        C4  ...          119.66
2       36 months   15.96%        84.33     C        C5  ...          649.91
3       36 months   13.49%       339.31     C        C1  ...          357.48
4       60 months   12.69%        67.79     B        B5  ...           67.79
...           ...      ...          ...   ...       ...  ...             ...
39712   36 months    8.07%        78.42     A        A4  ...           80.90
39713   36 months   10.28%       275.38     C        C1  ...          281.94
39714   36 months    8.07%       156.84     A        A4  ...            0.00
39715   36 months    7.43%       155.38     A        A2  ...            0.00
39716   36 months   13.75%       255.43     E        E2  ...          256.59

      last_credit_pull_d collections_12_mths_ex_med  policy_code  \
0                 May-16                        0.0            1
1                 Sep-13                        0.0            1
2                 May-16                        0.0            1
3                 Apr-16                        0.0            1
4                 May-16                        0.0            1
...                  ...                        ...          ...
39712             Jun-10                        NaN            1
39713             Jul-10                        NaN            1
39714             Jun-07                        NaN            1
39715             Jun-07                        NaN            1
39716             Jun-10                        NaN            1

      application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
0           INDIVIDUAL              0                      0.0           0
1           INDIVIDUAL              0                      0.0           0
2           INDIVIDUAL              0                      0.0           0
3           INDIVIDUAL              0                      0.0           0
4           INDIVIDUAL              0                      0.0           0
...                ...            ...                      ...         ...
39712       INDIVIDUAL              0                      NaN           0
39713       INDIVIDUAL              0                      NaN           0
39714       INDIVIDUAL              0                      NaN           0
39715       INDIVIDUAL              0                      NaN           0
39716       INDIVIDUAL              0                      NaN           0

      pub_rec_bankruptcies tax_liens
0                      0.0       0.0
1                      0.0       0.0
2                      0.0       0.0
3                      0.0       0.0
4                      0.0       0.0
...                    ...       ...
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[39717 rows x 53 columns]>

In [27]:
#To find the common values for all rows
sameValuesList = []
for column in loan_data.columns:
    valuesSeries = loan_data[column]
    result = valuesSeries.dropna()
    if(len(set(result.tolist()))) == 1:
        sameValuesList.append(column)
sameValuesList

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [29]:
#post approval, we dont need to take for analysis

post_approval = ['delinq_2yrs',
    'revol_bal',
    'out_prncp',
    'total_pymnt',
    'total_rec_prncp',
    'total_rec_int',
    'total_rec_late_fee',
    'recoveries',
    'collection_recovery_fee',
    'last_pymnt_d',
    'last_pymnt_amnt',
    'next_pymnt_d',
    'mths_since_last_delinq',
    'mths_since_last_record']
post_approval

['delinq_2yrs',
 'revol_bal',
 'out_prncp',
 'total_pymnt',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'mths_since_last_delinq',
 'mths_since_last_record']

In [30]:
existing_columns = loan_data.columns
for i in post_approval:
    if i in existing_columns:
        loan_data.drop([i], axis=1, inplace=True)
loan_data.info

<bound method DataFrame.info of             id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      1077501    1296599       5000         5000           4975.0
1      1077430    1314167       2500         2500           2500.0
2      1077175    1313524       2400         2400           2400.0
3      1076863    1277178      10000        10000          10000.0
4      1075358    1311748       3000         3000           3000.0
...        ...        ...        ...          ...              ...
39712    92187      92174       2500         2500           1075.0
39713    90665      90607       8500         8500            875.0
39714    90395      90390       5000         5000           1325.0
39715    90376      89243       5000         5000            650.0
39716    87023      86999       7500         7500            800.0

             term int_rate  installment grade sub_grade  ... total_pymnt_inv  \
0       36 months   10.65%       162.87     B        B2  ...         5833.84
1       60 months   15.27%        59.83     C        C4  ...         1008.71
2       36 months   15.96%        84.33     C        C5  ...         3005.67
3       36 months   13.49%       339.31     C        C1  ...        12231.89
4       60 months   12.69%        67.79     B        B5  ...         3513.33
...           ...      ...          ...   ...       ...  ...             ...
39712   36 months    8.07%        78.42     A        A4  ...         1213.88
39713   36 months   10.28%       275.38     C        C1  ...         1020.51
39714   36 months    8.07%       156.84     A        A4  ...         1397.12
39715   36 months    7.43%       155.38     A        A2  ...          672.66
39716   36 months   13.75%       255.43     E        E2  ...          980.83

      last_credit_pull_d collections_12_mths_ex_med  policy_code  \
0                 May-16                        0.0            1
1                 Sep-13                        0.0            1
2                 May-16                        0.0            1
3                 Apr-16                        0.0            1
4                 May-16                        0.0            1
...                  ...                        ...          ...
39712             Jun-10                        NaN            1
39713             Jul-10                        NaN            1
39714             Jun-07                        NaN            1
39715             Jun-07                        NaN            1
39716             Jun-10                        NaN            1

      application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
0           INDIVIDUAL              0                      0.0           0
1           INDIVIDUAL              0                      0.0           0
2           INDIVIDUAL              0                      0.0           0
3           INDIVIDUAL              0                      0.0           0
4           INDIVIDUAL              0                      0.0           0
...                ...            ...                      ...         ...
39712       INDIVIDUAL              0                      NaN           0
39713       INDIVIDUAL              0                      NaN           0
39714       INDIVIDUAL              0                      NaN           0
39715       INDIVIDUAL              0                      NaN           0
39716       INDIVIDUAL              0                      NaN           0

      pub_rec_bankruptcies tax_liens
0                      0.0       0.0
1                      0.0       0.0
2                      0.0       0.0
3                      0.0       0.0
4                      0.0       0.0
...                    ...       ...
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[39717 rows x 42 columns]>